<link rel="stylesheet" href="/css/post.css" charset="utf-8">
<div id="container">
	<div id="main">
		<div id="post" class="sticky-menu">
			<div class="inner clearfix">
				<div class="document prose">
					<div class="surface preview">
						<div class="content-preview-wrapper">
							<div class="content-preview">
								<div class="post-content" style="white-space: normal;">
									<h1>{{content.title}}</h1>
									{{{content.content}}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>